/*LARGE DEVICES*/
@media(min-width: 1200px){
/*    its already fine , if found some bug we would add something later*/
}
/*MEDIUM DEVICES*/
@media(min-width: 992px) and (max-width: 1199px){
    .navbar{
        background:rgba(0,0,0,0.7);
        padding: 0;
    }
}

/*SMALLL DEVICES : TABLETS*/

@media(min-width:768px) and (max-width:991px){
    .navbar{
        background: rgba(0,0,0,0.7);
        padding: 0;
    }
    .home-section .text-heading{
        font-size: 45px;
    }
    .btn-general{
        padding: 10px 24px;
        font-size: 16px;
    }
    
    .about-bg-diagonal{
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 350px;
    }
    .about-content-box{
        height: 350px;
        width: 100%;
    }
    .testimonial blockquote{
        padding: 6px 100px;
    }
    .testimonial blockquote:before{
        left:50px;
    }
    .testimonial-blockquote:after{
        right: 50px;
    }
    .stats-item{
        padding: 50px 0;
    }
    
    .contact-left p{
        text-align: center;
    }
    
}

/*EXTRA SMALL DEVICES : MOBILES*/
@media(max-width:767px){
    .navbar{
        background: rgba(0,0,0,0.7);
        padding: 0;
    }
    .home-section .text-heading{
        font-size: 35px;
    }
    
    .btn-general{
        padding: 8px 22px;
        font-size: 14px;
    }
    .about-bg-diagonal{
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 350px;
    }
    .about-content-box{
        height: 350px;
        width: 100%;
    }
    
    .testimonial blockquote{
        padding: 6px 50px;
    }
    .testimonial blockquote:before{
        left:10px;
    }
    .testimonial-blockquote:after{
        right: 10px;
    }
    
    .stats-item{
        padding: 15px 0;
    }
}